#main{
	padding-top: 40px;
	margin-bottom: 12px;
}
#main section{
	background: rgba(0,0,2,0.5);
	border-radius: 5px;
	padding: 18px 20px 20px 19px;
}
#main section:first-child{
	margin-bottom: 18px;
	height: 168px;
}
#main img{
	float: right;
	margin-top: 2px;
}
#main section h2,
#main section p{
	color: #fff;
	font-family: Calibri, Georgia, serif;
}
#main section h2{
	font-size: 24px;
	margin-bottom: 23px;
}
#main section p{
	font-size: 14px;
	margin-bottom: 2px;
}
#main_wrapper{
	width: 673px;
}
#main_wrapper form p{
	text-align: right;
	margin-bottom: 12px;
}
#main_wrapper form label{
	margin-right: 10px;
}
#main_wrapper form input{
	height: 24px;
}
#main_wrapper form input, #main_wrapper form textarea{
	width: 425px;
	background: none;
	border: 1px solid #858484;
	border-radius: 4px;
	color: #fff;
}
#main_wrapper form label[for="question"]{
	vertical-align: top;
}
#main_wrapper form textarea{
	height: 95px;
	padding: 0;
	resize: none;
}
#main_wrapper form input:focus{
	border-color: #d4ecff;
}
#main_wrapper form input[type="submit"]{
	background: #051727;
	width: 103px;
	height: 26px;
	color: #fff;
	margin-left: 244px;
	cursor: pointer;
	clear: both;
}
#main_wrapper form input[type="submit"]:hover{
	border-color: #858688;
	background: #17446c;
}
